!includedir /etc/mysql/conf.d/
!includedir /etc/mysql/mysql.conf.d/

[client]
port		                    = 3306
socket		                    = /var/run/mysqld/mysqld.sock

[mysqld_safe]
socket		                    = /var/run/mysqld/mysqld.sock
nice		                    = 0


[mysqld]
# Basic Settings
user		                    = mysql
pid-file	                    = /var/run/mysqld/mysqld.pid
socket		                    = /var/run/mysqld/mysqld.sock
port		                    = 3306
basedir		                    = /usr
datadir		                    = /var/lib/mysql
tmpdir		                    = /tmp
language	                    = /usr/share/mysql/english
skip-external-locking
skip-name-resolve
low-priority-updates
bind-address                    = 0.0.0.0

character_set_server            = utf8
character_set_filesystem        = utf8
collation-server                = utf8_general_ci
init-connect                    = 'SET NAMES utf8'
init_connect                    = 'SET collation_connection = utf8_general_ci'
skip-character-set-client-handshake

#server-id                      = 1

#Tuning
key_buffer_size                 = 1200M
thread_stack                    = 512K
thread_cache_size               = 32
innodb_thread_concurrency       = 12

table_open_cache                = 2000
table_open_cache_instances      = 16
net_buffer_length               = 1024

myisam-recover_options          = BACKUP
query_cache_limit               = 2M
query_cache_size                = 256M

myisam_sort_buffer_size         = 256M
tmp_table_size                  = 256M
max_heap_table_size             = 128M

read_buffer_size                = 2M
read_rnd_buffer_size            = 4M

sort_buffer_size                = 2M
join_buffer_size                = 4M

max_allowed_packet	            = 256M
max_sort_length                 = 512
max_connections                 = 120
max_connect_errors              = 50
max_user_connections            = 25

expire_logs_days	            = 10
max_binlog_size                 = 300M

general_log_file                = /var/log/mysql/mysql.log
general_log                     = 0

slow_query_log_file             = /var/log/mysql/mysql-slow.log
log_error_verbosity             = 3

log_error                       = /var/log/mysql/error.log
long_query_time                 = 1

innodb_buffer_pool_size         = 64M
innodb_lock_wait_timeout        = 50
innodb_log_buffer_size          = 8M
innodb_flush_log_at_trx_commit  = 2
innodb_flush_method             = O_DIRECT

transaction-isolation           = READ-COMMITTED


[mysqldump]
quick
quote-names
max_allowed_packet              = 256M
